@import '../../../styles/variables';
@import '../../../styles/mixins';

:host{
    justify-items: center;
    cursor: pointer;
    .movie-card {
        width: 90%;
        height: $card-height;
        padding: 1rem;
        background-color: $block-background;
        border-radius: $border-radius;
    }

    .fit-img {
        @include cover-image;
    }
}