<div class="movies">
    <div class="movies_header">
        <h1>Каталог фильмов</h1>
        <input
            type="text"
            placeholder="Поиск фильмов..."
            class="movies_header-input"
            (input)="onInputChange($any($event.target).value)"
        >
    </div>
    
    @if (!moviesService.loadingS()) {
        <div class="movies_grid">
            @for (movie of moviesService.filteredMoviesListS(); track movie.id) {
                <app-movie-card [movie]="movie" (click)="showMovieDetails(movie)"></app-movie-card>
            }
        </div>
    } @else {
        <div class="movies_loading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
    }
</div>
