<div class="movies">
    <div class="movies-header">
        <h1>Каталог фильмов</h1>
        <input
            type="text"
            placeholder="Поиск фильмов..."
            class="movies_header-input"
            (input)="onInputChange($any($event.target).value)"
        >
    </div>

    <div class="movies-grid-container">
        @if (!moviesService.loadingS()) {
            @if (moviesService.filteredMoviesListS().length > 0) {
            <div class="movies-grid">
                @for (movie of moviesService.filteredMoviesListS(); track movie.id) {
                    <app-movie-card [movie]="movie" (click)="showMovieDetails(movie)"></app-movie-card>
                }
            </div>
            } @else {
            <p>Фильмы не найдены</p>
            }
        } @else {
            <div class="movies-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
        }
    </div>
    
</div>
