@import '../../../styles/variables';

:host {
    width: 100%;
    height: 100vh;
    .movies {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-header {
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 5px 0 5px;
            &-input {
                background-color: $block-background;
                border: none;
                padding: 5px;
                border-radius: $border-radius;
                &:focus {
                    outline: none;
                }
            }
        }

        &-grid {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc($card-width + 120px), 1fr));
            grid-template-rows: calc($card-height + 70px);
            grid-gap: 1rem;

            &-container {
                height: calc(100vh - 60px);
                overflow: auto;
            }
        }

        &-loading {
            flex-grow: 1;
            justify-items: center;
            padding-top: 50px;
        }
    }
    

     @media screen and (max-width: 550px) {
        .movies-header {
            flex-direction: column;
            padding-bottom: 20px;
        }
        .movies-grid {
            grid-template-columns: repeat(1fr);
        }
     }
}