@import '../../../styles/mixins';

:host {
    .details {
        &-close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }

        &-img {
            @include cover-image;
        }

        &-genre {
            @include chip;
        }

        &-rating {
            @include chip;
            justify-self: flex-end;
            margin-right: 5px;
        }

        &-text {
            @include long-text;
        }
    }

}